@tailwind base;
@tailwind components;
@tailwind utilities;

.svg_hover {
    fill: white !important;
}

svg {
    position: absolute;
    z-index: 2;
    user-select: none;
    pointer-events: none;
}

img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}